{% extends 'site/pages/details.html.twig' %}
 {% block menu %}
 {{ include('site/_includes/header.html.twig',{'etat':3}) }}
 {% endblock %}
{% block page_content %}


 <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-stellar-background-ratio="0.5" data-bg-img="images/bg/bg11.jpg">
      <div class="container pt-90 pb-30">
        <!-- Section Content -->
        <div class="section-content pt-100">
          <div class="row"> 
            <div class="col-md-12">
              <h3 class="title text-white">Notre equipe</h2>
            </div>
            <div class="col-md-12">
              <ol class="breadcrumb text-center mt-10 white">
                <li><a href="#">Accueil</a></li>
                <li class="active">Tout les membres</li>
              </ol>
            </div>
          </div>
        </div>
      </div>      
    </section>
 

    <section>
      <div class="container pb-50">
          <div class="section-content">
            <div class="row multi-row-clearfix">
              <div class="col-xs-12 col-sm-6 col-md-3 mb-30">
                <div class="team-member clearfix">
                  <div class="team-thumb"><img alt="" src="images/team/1.jpg" class="img-fullwidth"></div>
                  <div class="overlay">
                    <div class="content text-center">
                      <h4 class="author mb-0"><a href="page-speakers-details.html">Alex Jacobson</a></h4>
                      <h6 class="title text-gray font-14 mt-5 mb-15">Finance manager</h6>
                    </div>
                  </div>
                  <ul class="social-icons flat icon-white square mt-10">
                    <li class=""><a href="#"><i class="fa fa-facebook pr-10 pl-10"></i></a></li>
                    <li class=""><a href="#"><i class="fa fa-twitter pr-10 pl-10"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus pr-10 pl-10"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 mb-30">
                <div class="team-member clearfix">
                  <div class="team-thumb"><img alt="" src="images/team/2.jpg" class="img-fullwidth"></div>
                  <div class="overlay">
                    <div class="content text-center">
                      <h4 class="author mb-0"><a href="page-speakers-details.html">Alex Jacobson</a></h4>
                      <h6 class="title text-gray font-14 mt-5 mb-15">Finance manager</h6>
                    </div>
                  </div>
                  <ul class="social-icons flat icon-white square mt-10">
                    <li class=""><a href="#"><i class="fa fa-facebook pr-10 pl-10"></i></a></li>
                    <li class=""><a href="#"><i class="fa fa-twitter pr-10 pl-10"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus pr-10 pl-10"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 mb-30">
                <div class="team-member clearfix">
                  <div class="team-thumb"><img alt="" src="images/team/3.jpg" class="img-fullwidth"></div>
                  <div class="overlay">
                    <div class="content text-center">
                      <h4 class="author mb-0"><a href="page-speakers-details.html">Alex Jacobson</a></h4>
                      <h6 class="title text-gray font-14 mt-5 mb-15">Finance manager</h6>
                    </div>
                  </div>
                  <ul class="social-icons flat icon-white square mt-10">
                    <li class=""><a href="#"><i class="fa fa-facebook pr-10 pl-10"></i></a></li>
                    <li class=""><a href="#"><i class="fa fa-twitter pr-10 pl-10"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus pr-10 pl-10"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 mb-30">
                <div class="team-member clearfix">
                  <div class="team-thumb"><img alt="" src="images/team/4.jpg" class="img-fullwidth"></div>
                  <div class="overlay">
                    <div class="content text-center">
                      <h4 class="author mb-0"><a href="page-speakers-details.html">Alex Jacobson</a></h4>
                      <h6 class="title text-gray font-14 mt-5 mb-15">Finance manager</h6>
                    </div>
                  </div>
                  <ul class="social-icons flat icon-white square mt-10">
                    <li class=""><a href="#"><i class="fa fa-facebook pr-10 pl-10"></i></a></li>
                    <li class=""><a href="#"><i class="fa fa-twitter pr-10 pl-10"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus pr-10 pl-10"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 mb-30">
                <div class="team-member clearfix">
                  <div class="team-thumb"><img alt="" src="images/team/5.jpg" class="img-fullwidth"></div>
                  <div class="overlay">
                    <div class="content text-center">
                      <h4 class="author mb-0"><a href="page-speakers-details.html">Alex Jacobson</a></h4>
                      <h6 class="title text-gray font-14 mt-5 mb-15">Finance manager</h6>
                    </div>
                  </div>
                  <ul class="social-icons flat icon-white square mt-10">
                    <li class=""><a href="#"><i class="fa fa-facebook pr-10 pl-10"></i></a></li>
                    <li class=""><a href="#"><i class="fa fa-twitter pr-10 pl-10"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus pr-10 pl-10"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 mb-30">
                <div class="team-member clearfix">
                  <div class="team-thumb"><img alt="" src="images/team/6.jpg" class="img-fullwidth"></div>
                  <div class="overlay">
                    <div class="content text-center">
                      <h4 class="author mb-0"><a href="page-speakers-details.html">Alex Jacobson</a></h4>
                      <h6 class="title text-gray font-14 mt-5 mb-15">Finance manager</h6>
                    </div>
                  </div>
                  <ul class="social-icons flat icon-white square mt-10">
                    <li class=""><a href="#"><i class="fa fa-facebook pr-10 pl-10"></i></a></li>
                    <li class=""><a href="#"><i class="fa fa-twitter pr-10 pl-10"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus pr-10 pl-10"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 mb-30">
                <div class="team-member clearfix">
                  <div class="team-thumb"><img alt="" src="images/team/7.jpg" class="img-fullwidth"></div>
                  <div class="overlay">
                    <div class="content text-center">
                      <h4 class="author mb-0"><a href="page-speakers-details.html">Alex Jacobson</a></h4>
                      <h6 class="title text-gray font-14 mt-5 mb-15">Finance manager</h6>
                    </div>
                  </div>
                  <ul class="social-icons flat icon-white square mt-10">
                    <li class=""><a href="#"><i class="fa fa-facebook pr-10 pl-10"></i></a></li>
                    <li class=""><a href="#"><i class="fa fa-twitter pr-10 pl-10"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus pr-10 pl-10"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 mb-30">
                <div class="team-member clearfix">
                  <div class="team-thumb"><img alt="" src="images/team/8.jpg" class="img-fullwidth"></div>
                  <div class="overlay">
                    <div class="content text-center">
                      <h4 class="author mb-0"><a href="page-speakers-details.html">Alex Jacobson</a></h4>
                      <h6 class="title text-gray font-14 mt-5 mb-15">Finance manager</h6>
                    </div>
                  </div>
                  <ul class="social-icons flat icon-white square mt-10">
                    <li class=""><a href="#"><i class="fa fa-facebook pr-10 pl-10"></i></a></li>
                    <li class=""><a href="#"><i class="fa fa-twitter pr-10 pl-10"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus pr-10 pl-10"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 mb-30">
                <div class="team-member clearfix">
                  <div class="team-thumb"><img alt="" src="images/team/1.jpg" class="img-fullwidth"></div>
                  <div class="overlay">
                    <div class="content text-center">
                      <h4 class="author mb-0"><a href="page-speakers-details.html">Alex Jacobson</a></h4>
                      <h6 class="title text-gray font-14 mt-5 mb-15">Finance manager</h6>
                    </div>
                  </div>
                  <ul class="social-icons flat icon-white square mt-10">
                    <li class=""><a href="#"><i class="fa fa-facebook pr-10 pl-10"></i></a></li>
                    <li class=""><a href="#"><i class="fa fa-twitter pr-10 pl-10"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus pr-10 pl-10"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
      </div>
    </section>
 
 {{ include('site/_includes/children/contact.html.twig') }}
{% endblock %}