{#  <section id="schedule">
      <div class="divider parallax layer-overlay overlay-darkblue" data-stellar-background-ratio="0.5" data-bg-img="images/bg/bg1.jpg">
        <div class="container pt-50 pb-50">
          <div class="section-title">
            <div class="row">
              <div class="col-md-6 col-md-offset-3 text-center">
                <h2 class="title text-white mb-0">Event Schedule</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-bg-img="images/bg/bg5.jpg">
        <div class="container pt-80 pb-60">
          <div class="section-content">
            <div class="row">
              <div class="col-md-12">
                

              </div>
            </div>
          </div>
        </div>
      </div>
    </section> #}

<section id="portfolio" class="wow fadeInUp animated" style="visibility: visible;">
  <div class="container shadow_portfolio">
    <div class="row">
      <div class="col-md-12 m-t-10" style="">
        <h2 class="txt_col text-center m-t-20" style="font-size: 26px;">
          <span style="font-weight:bold !important; font-size: 26px !important; color: #fff;">QUI SOMMES NOUS</span>
          <br />
          <i class="fa fa-minus" style="color: rgba(255, 255, 255, 0.6);"></i>
        </h2>
      </div>
    </div>
    <div class="row" style="background: #181818; padding: 5px;">
      <div class="col-md-5 m-t-10 flex_bloc">
        <div class="">
          <iframe class="embed-responsive-item vod_bloc" src="https://www.youtube.com/embed/qy-ck1sxxYU" allowfullscreen="" autoplay="1" style="overflow:hidden; width:100%; height:260px;" scrolling="no" frameborder="0"></iframe>
        </div>
      </div>
      <div class="col-md-7 flex_bloc m-t-10" style="">
        <div class="">
          <p style="color: #ffffff99;  font-weight: 300 !important;">Créée en Novembre 2016 la structure ASAPH PROD est chargée de réaliser le concours chrétien dénommé DOMISOL. Elle est un structure chrétienne qui compte en son sein Huit membres y compris des personnes ressources et œuvre pour la cohésion, l'unité entre les chrétiens .</p>

          <p style="color: #ffffff99; font-weight: 300 !important;">Travaillant pour créer des vacances saines et saintes pour les chrétiens en particulier et pour toute la population de Tiassale en générale, Asaph Prod travaille en collaboration avec L’APEETIA (Association des Pasteurs des églises évangélique de Tiassale) pour la réalisation de ce projet.</p><br /><br />
          {# <p style="color: #ffffff99; font-weight: 300 !important;">
                Créée en 2019, l'entreprise 
                <b>ELIWOOD STUDIO</b>
                 est située à Cocody Faya - Nouveau Goudron
              </p> #}
          <a href="home/assets/documents/Plaquette_commerciale_EliwoodStudio.pdf" target="_blank" class="btn btn-default text-center" style="text-transform: uppercase !important; font-weight:700;color:#fff; background:#017e01">Lire plus</a>
          <a href="home/assets/documents/Plaquette_commerciale_EliwoodStudio.pdf" target="_blank" class="btn btn-default text-center" style="text-transform: uppercase !important; font-weight:700;color:#fff; background:#FAD96B">Téléchargez notre plaquette</a>
        </div>
      </div>
      {#  <div class="col-md-3 text-center">
            <div class="text-center m-t-10" style="background: #242424; padding: 5px;">
              <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FeliwoodstudioOfficiel&amp;tabs=timeline&amp;width=340&amp;height=500&amp;small_header=false&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=true&amp;appId" width="100%" height="220" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
            <div class="text-center" style="background: #242424;">
              <h2 class="" style="font-size: 16px; font-weight:500; color:#fff; margin-bottom: 10px; !important">
                <a href="https://www.facebook.com/eliwoodstudioOfficiel" target="_blank" class="facebook" style="color: rgba(255, 255, 255, 0.6) !important; margin-bottom: 10px; !important"><i class="fa fa-facebook"></i></a>
                 &nbsp;
                <a href="https://www.linkedin.com/company/eliwood-studio/" target="_blank" class="linkedin" style="color: rgba(255, 255, 255, 0.6) !important; margin-bottom: 10px; !important"><i class="fa fa-linkedin" style="margin-bottom: 10px; !important"></i></a>
                 &nbsp;
                <a href="https://www.instagram.com/eliwoodstudioci/" class="instagram" target="_blank" style="color: rgba(255, 255, 255, 0.6) !important; margin-bottom: 10px; !important"><i class="fa fa-instagram" style="margin-bottom: 10px; !important"></i></a>
                 &nbsp;
                <a href="https://www.youtube.com/c/ELIWOODSTUDIO/" class="youtube" target="_blank" style="color: rgba(255, 255, 255, 0.6) !important; margin-bottom: 10px; !important"><i class="fa fa-youtube" style="margin-bottom: 10px; !important"></i></a>
                 &nbsp;
                <a href="https://www.twitter.com/eliwoodstudio/" class="twitter" target="_blank" style="color: rgba(255, 255, 255, 0.6) !important; margin-bottom: 10px; !important"><i class="fa fa-twitter" style="margin-bottom: 10px; !important"></i></a>
              </h2>
            </div>
          </div> #}
    </div>
  </div>
</section>
