<section class="divider" data-bg-img="images/bg/bg5.jpg" style="background-image: url(&quot;images/bg/bg5.jpg&quot;);">
      <div class="container pt-80 pb-50">
           <div class="row">
      <div class="col-md-12 m-t-10" style="">
        <h2 class="txt_col text-center m-t-20" style="font-size: 26px;">
          <span style="font-weight:bold !important; font-size: 26px !important; color: black;">NOTRE ACTUALITE</span>
          <br />
          <i class="fa fa-minus" style="color: rgba(255, 255, 255, 0.6);"></i>
        </h2>
      </div>
    </div>
        <div class="section-content">
   
            <div class="row">
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="schedule-box maxwidth500 mb-30 bg-lighter">
                  <div class="thumb">
                    <img class="img-fullwidth" alt="" src="images/portfolio/1.jpg">
                    <div class="overlay">
                      <a href="#"><i class="fa fa-calendar mr-5"></i></a>
                    </div>
                  </div>
                  <div class="schedule-details clearfix p-15 pt-10">
                    <h5 class="font-16 title"><a href="#">Business Conferences 2016</a></h5>
                    <ul class="list-inline font-11 mb-20">
                      <li><i class="fa fa-calendar mr-5"></i> DEC 31/2016</li>
                      <li><i class="fa fa-map-marker mr-5"></i> 89 Newyork City.</li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet elit. Cum veritatis sequi nulla nihil, dolor voluptatum nemo adipisci eligendi! Sed nisi perferendis, totam harum dicta.</p>
                    <div class="mt-10">
                    
                     <a class="btn btn-colored btn-dark-light btn-sm" href="#">Lire plus</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="schedule-box maxwidth500 mb-30 bg-lighter">
                  <div class="thumb">
                    <img class="img-fullwidth" alt="" src="images/portfolio/2.jpg">
                    <div class="overlay">
                      <a href="#"><i class="fa fa-calendar mr-5"></i></a>
                    </div>
                  </div>
                  <div class="schedule-details clearfix p-15 pt-10">
                    <h5 class="font-16 title"><a href="#">Business Conferences 2016</a></h5>
                    <ul class="list-inline font-11 mb-20">
                      <li><i class="fa fa-calendar mr-5"></i> DEC 31/2016</li>
                      <li><i class="fa fa-map-marker mr-5"></i> 89 Newyork City.</li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet elit. Cum veritatis sequi nulla nihil, dolor voluptatum nemo adipisci eligendi! Sed nisi perferendis, totam harum dicta.</p>
                    <div class="mt-10">
                    
                     <a class="btn btn-colored btn-dark-light btn-sm" href="#">Lire plus</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="schedule-box maxwidth500 mb-30 bg-lighter">
                  <div class="thumb">
                    <img class="img-fullwidth" alt="" src="images/portfolio/3.jpg">
                    <div class="overlay">
                      <a href="#"><i class="fa fa-calendar mr-5"></i></a>
                    </div>
                  </div>
                  <div class="schedule-details clearfix p-15 pt-10">
                    <h5 class="font-16 title"><a href="#">Business Conferences 2016</a></h5>
                    <ul class="list-inline font-11 mb-20">
                      <li><i class="fa fa-calendar mr-5"></i> DEC 31/2016</li>
                      <li><i class="fa fa-map-marker mr-5"></i> 89 Newyork City.</li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet elit. Cum veritatis sequi nulla nihil, dolor voluptatum nemo adipisci eligendi! Sed nisi perferendis, totam harum dicta.</p>
                    <div class="mt-10">
                    
                     <a class="btn btn-colored btn-dark-light btn-sm" href="#">Lire plus</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="schedule-box maxwidth500 mb-30 bg-lighter">
                  <div class="thumb">
                    <img class="img-fullwidth" alt="" src="images/portfolio/4.jpg">
                    <div class="overlay">
                      <a href="#"><i class="fa fa-calendar mr-5"></i></a>
                    </div>
                  </div>
                  <div class="schedule-details clearfix p-15 pt-10">
                    <h5 class="font-16 title"><a href="#">Business Conferences 2016</a></h5>
                    <ul class="list-inline font-11 mb-20">
                      <li><i class="fa fa-calendar mr-5"></i> DEC 31/2016</li>
                      <li><i class="fa fa-map-marker mr-5"></i> 89 Newyork City.</li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet elit. Cum veritatis sequi nulla nihil, dolor voluptatum nemo adipisci eligendi! Sed nisi perferendis, totam harum dicta.</p>
                    <div class="mt-10">
                    
                     <a class="btn btn-colored btn-dark-light btn-sm" href="#">Lire plus</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="schedule-box maxwidth500 mb-30 bg-lighter">
                  <div class="thumb">
                    <img class="img-fullwidth" alt="" src="images/portfolio/5.jpg">
                    <div class="overlay">
                      <a href="#"><i class="fa fa-calendar mr-5"></i></a>
                    </div>
                  </div>
                  <div class="schedule-details clearfix p-15 pt-10">
                    <h5 class="font-16 title"><a href="#">Business Conferences 2016</a></h5>
                    <ul class="list-inline font-11 mb-20">
                      <li><i class="fa fa-calendar mr-5"></i> DEC 31/2016</li>
                      <li><i class="fa fa-map-marker mr-5"></i> 89 Newyork City.</li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet elit. Cum veritatis sequi nulla nihil, dolor voluptatum nemo adipisci eligendi! Sed nisi perferendis, totam harum dicta.</p>
                    <div class="mt-10">
                    
                     <a class="btn btn-colored btn-dark-light btn-sm" href="#">Lire plus</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="schedule-box maxwidth500 mb-30 bg-lighter">
                  <div class="thumb">
                    <img class="img-fullwidth" alt="" src="images/portfolio/6.jpg">
                    <div class="overlay">
                      <a href="#"><i class="fa fa-calendar mr-5"></i></a>
                    </div>
                  </div>
                  <div class="schedule-details clearfix p-15 pt-10">
                    <h5 class="font-16 title"><a href="#">Business Conferences 2016</a></h5>
                    <ul class="list-inline font-11 mb-20">
                      <li><i class="fa fa-calendar mr-5"></i> DEC 31/2016</li>
                      <li><i class="fa fa-map-marker mr-5"></i> 89 Newyork City.</li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet elit. Cum veritatis sequi nulla nihil, dolor voluptatum nemo adipisci eligendi! Sed nisi perferendis, totam harum dicta.</p>
                    <div class="mt-10">
                    
                     <a class="btn btn-colored btn-dark-light btn-sm" href="#">Lire plus</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </section>